h1 {
    text-align: center;
    background-color: beige;
}

h2 {
    background-color: rgb(255, 248, 239);
}

ul {
    list-style-type: none; 
    margin: 0; padding: 0; 
    overflow: hidden; 
    background-color: #333333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div {
    border: solid black;
}